.container{
  text-align: center;
}



.container2{
 display: flex; 
         gap: 20px;
         justify-content: center;
         align-items: center;
}
.card {
margin-bottom: 20px; /* Ajuste o valor conforme necessário */
 height: 100%;      
}           
.card-img-top {
    width: 100%;        /* imagem ocupa toda a largura do card */
    height: 180px;      /* altura DO TAMANHO IGUAL PARA TODAS */
    object-fit: cover;  /* corta a imagem para caber sem distorcer */
    object-position: center;
    display: block;
}


@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
--cor-principal: #ff0000;
--cor-secundaria: #000000;
--cor-destaque: #212121;
--cor-ttt: #006aff;
--cor-3:#000000;
--cor-4:#45a7ce;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;

    /* GIF de fundo */
    background-image: url('1.gif');
    background-repeat: no-repeat;        /* não repete */
    background-position: center top;     /* centraliza horizontal e topo vertical */
      background-size: 740px auto; 
    background-attachment: fixed;        /* fica fixo na tela enquanto rola o conteúdo */
}

h1, h2, h5 {
color: var(--cor-ttt);
font-weight: 700;
}

.lead {
  color: var(--cor-destaque);
  font-weight: 700;
}

footer a, .btn-link:hover {
color: var(--cor-principal);
}

footer a:hover {
color: var(--cor-destaque);
}

.modal-body{
  background-color:var(--cor-4)
}

.badge-grande {
    font-size: 50px;  
    padding: 15px 30px;  
     border-radius: 20px;   
}

.mão {
    border-radius: 20px; 
}